<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>main-page</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <div class="title-div text-center jumbotron">
        <h1>Spring boot CRUD app</h1>
    </div>

    <div class="centred-content text-center" th:switch="${people}">

        <h2 th:case="null"> List of people is empty, go ahead and add some! </h2>

        <div class="text-center" th:case="*">

            <div class="header-margin text-center">
                <h2>List of people</h2>
            </div>

            <table class="table-margin text-center">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="person : ${people}">
                        <td class="set-pad" th:text="${person.id}"></td>
                        <td class="set-pad" th:text="${person.name}"></td>
                        <td class="set-pad" th:text="${person.email}"></td>
                        <td class="set-pad" th:text="${person.age}"></td>
                        <td><a class="btn btn-primary btn-sm set-pad" th:href="@{/edit/{id}(id=${person.id})}">Edit</a></td>
                        <td><a class="btn btn-danger btn-sm set-pad" th:href="@{/delete/{id}(id=${person.id})}">Delete</a></td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>

    <div class="container text-center margined">
        <a th:href="@{add}" class="btn btn-link btn-lg">Create new person</a>
    </div>

    <footer class="page-footer font-small back-color">
        <div class="footer-copyright text-center py-3">
            © 2019 Copyright: Filip Grudzień spring boot CRUD app.
        </div>
    </footer>

</body>
</html>