<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">
</head>
<body>
<table>
    <thead>
    <tr>
        <th> id </th>
        <th> name </th>
        <th> address </th>
        <th> age </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${people.empty}">
        <td colspan="5"> No ppl present in repository! </td>
    </tr>
    <tr th:each="person : ${people}">
        <td><span th:number="${person.id}"> id </span></td>
        <td><span th:text="${person.name}"> name </span></td>
        <td><span th:text="${person.address}"> address </span></td>
        <td><span th:text="${person.age}"> age </span></td>
        <td>
            <form th:action="@{/delete/{id}(id=${person.id})}" th:object="${person}" method="post">
                <input type="submit" value="delete" />
            </form>
        </td>
        <td>
            <form th:action="@{/edit/{id}(id=${person.id})}" th:object="${person}" method="get">
                <input type="submit" value="update" />
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>


<!--


<td>
            <form th:action="@{/delete/${id}}"  method="post">
                <button type="submit"><p>&#10006;</p></button>
            </form>
<form th:action="@{/delete/${id}}"  method="post">
    <input type="hidden" th:field="${person}">Delete</input>
    <button type="submit"/>
</form>
</td>

--->